body, header {
	background-color: gray;
	font-family: helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	letter-spacing: 2px;

}

header {
	border-bottom: 5px solid black;
}

body {
	margin: 50px;
}
img {
	position: relative;
	display: inline;
	height: 100px;
	width: 100px;
	margin: 50px;
	opacity: 0.4;
	-webkit-filter: blur(1px);
}

img:hover {
	opacity: 1;
	/*webkit-transition: width 1s;*/
	-webkit-filter: blur(0px);


}

.choices {
	display: absolute;
	bottom: 40px;
	width: 90%;
	margin: auto;
	padding: 50px;
	opacity: 0;
	flex: 1 100%;
	visibility: hidden;

}

.form {
	margin: auto;
	width: 50%;

}

button {
	background-color: #bbb;
	position: relative;
	top: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	font-size: 120%;
	border: none;
	border-radius: 4px;
}

button:hover {
	background-color: purple;
}

p {
	display: block;
	top: 20px;
	margin-left: auto;
	margin-right: auto;
}

input {
	background-color: #bbb;
	color: black;
	border: none;
	width: 400px;
	font-size: 110%;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
}

input:hover {
	background-color: purple;
}

input, select, textarea{
    color: black;
}

::-webkit-input-placeholder {
	color: black;
	font-weight: bold;
}

ul li {
	list-style-type: none;
}

form {
	position: relative;
	top: 300px;
	opacity: 1;
}

